/* .backgraound{
    background-image: url("src//assets//nico-smit-QnkzvFCxKrA-unsplash.jpg") ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    
} */
body{
background-image: url(src/assets/nico-smit-QnkzvFCxKrA-unsplash.jpg);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color: #464646;
height: 34vw;
width: 100%;
position: fixed;

}



.container
{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

button{
    margin-left: 10px;
    color: white;
}


@media only screen and (max-width: 767px) {
    body {
    /* The file size of this background image is 93% smaller
    to improve page load speed on mobile internet connections */
    background-image: url(src/assets/nico-smit-QnkzvFCxKrA-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    object-fit: contain;
    background-color: #464646;
    
   
    
    }
    }